.banner {
  &__location {
    @include layout-horizontal-center;

    background: #eaeaea;
    padding: 15px 0;
    color: #353535;

    button {
      box-shadow: none;
      background: none;
      font-size: 1em;
      font-weight: bold;
      transition: color 0.4s;

      &:hover,
      &:active {
        color: $primary-color;
      }
    }

    i {
      margin: 0 15px 0 0;
    }

  }

  &__call-to-action {
    @include layout-column-center;

    padding: 40px;
    text-align: center;
    background: $section-background-color;

    h2 {
      font-size: 1.6em;
    }

    span {
      margin: 15px 0;
      font-size: 1.06em;
    }
  }

  &__explore-btn {
    margin: 15px 0;
  }
}