.main-footer {
  background: #353535;
  padding: 25px;

  @media (min-width: 1900px) {
    padding: 15px 15%;
  }

  h2 {
    margin: 0 0 20px 0;
    font-family: $font-title;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
  }

  li {
    margin: 0 0 10px 0;
  }

  a {
    color: #fff;
    transition: color 0.2s;

    &:hover,
    &:active {
      color: $secondary-color;
    }
  }

  i {
    margin: 0 10px 0 0;
  }
}