.functioning {
  padding: 50px 20px;
  max-width: 1460px;
  margin: auto;

  h2 {
    margin: 0 0 30px 0;
  }

  i {
    color: #7e7e7e;
    margin: 0 25px 0 35px;
  }

  &__steps {
    @include layout-column-center;
  }

  &__step {
    height: 75px;
    min-width: 320px;
    width: 100%;
    max-width: 600px;
    background: $section-background-color;
    border-radius: 20px;
    margin: 0 0 25px 0;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    text-align: left;
    transition: background-color 0.4s, box-shadow 0.4s;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: #f5edff;

      i {
        color: $primary-color;
      }
    }
  }

  &__number {
    @include layout-all-center;

    background: $primary-color;
    position: absolute;
    left: -13px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    color: #fff;
    font-size: 0.9em;
  }
}