.main-header {
  @include layout-spaced-center;
  padding: 15px 20px 5px 20px;
  box-shadow: 0 5px 8px #ccc;

  @media (min-width: 1900px) {
    padding: 15px 20% 5px 20%;
  }
  
  &__return {
    font-size: 1.2em;
    transition: color 0.2s;

    &:hover,
    &:active {
      color: $secondary-color;
    }
  }

  &--on-top {
    position: relative;
  }

  h1 {
    font-family: $font-title;
    font-size: 2em;
    margin: auto;
    font-weight: 500;
  }
}