.main-menu-page {
  width: 100%;
  height: 100%;
  background-color: $section-background-color;
}

.menu {
  header,
  section,
  &__button {
    margin: auto;
  }

  &__header {
    position: relative;

    img {
      width: 100%;
      height: auto;
      max-height: 500px;
      object-fit: cover;
    }
  }

  &__title {
    @include layout-spaced-center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: -50%;
    right: -50%;
    background: $section-background-color;
    border-radius: 40px 40px 0 0;
    padding: 30px 20px;

    i {
      font-size: 1.6em;
      margin: 0 18px 0 0;

      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }

  &__header-line {
    width: 40px;
    height: 3px;
    background: $tertiary-color;
    margin: 6px 0 15px 0;
  }

  h2 {
    font-family: $font-title;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0 10px 0 0;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
  }

  &__item {
    padding: 0 10px 16px 10px;
    max-width: 800px;

    >.menu__entry {
      @for $i from 3 through $max-num-menu-entries {
        &:nth-child(#{$i}) {
          animation: delay-menu-entry 1.5s forwards;
          animation-delay: $anim-delay * ($i - 2);
        }
      }
    }

    @media (min-width: 800px) {
      padding: 0 30px 16px 30px;
    }
  }

  &__entry {
    opacity: 0;
    height: 70px;
    margin: 0 0 14px 0;
    padding: 15px 60px 15px 15px;
    position: relative;
    box-shadow: $shadow-initial;
    border-radius: 15px;
    overflow: hidden;
    transition: padding-right 0.4s;

    &:hover,
    &:active {
      cursor: pointer;
      padding-right: 130px;
    }

    &:hover .menu__check,
    &:active .menu__check {
      right: 0;
    }

    &:hover .menu__price,
    &:active .menu__price {
      right: 90px;
    }

    &:hover i,
    &:active i {
      right: 0;
      animation: check-icon 0.4s;
    }
  }

  &__infos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4 {
    margin: 0 0 5px 0;
  }

  &__price {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-weight: 600;
    transition: right 0.4s;
  }

  &__check {
    position: absolute;
    right: -70px;
    top: 0;
    width: 70px;
    height: 70px;
    background: $tertiary-color;
    border-radius: 0 15px 15px 0;
    transition: right 0.4s;

    @include layout-all-center;

    i {
      font-size: 1.5em;
      color: #fff;
    }
  }

  &__button {
    background: $section-background-color;
    padding: 50px 0 80px 0;
    text-align: center;
  }
}