.main-footer {
  background: #353535;
  padding: 25px;

  h2 {
    margin: 0 0 20px 0;
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
  }

  li {
    margin: 0 0 10px 0;
  }

  a {
    color: #fff;

    &:hover {
      color: $secondary-color;
    }
  }

  i {
    margin: 0 10px 0 0;
  }
}