* {
  box-sizing: border-box;
  font-family: $font-content;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: auto;
}

button {
  border: none;
  box-shadow: $shadow-initial;

  &:hover,
  &:active {
    box-shadow: 0 5px 10px #999;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}