* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
}

button {
  border: none;
  box-shadow: 0 5px 10px #ccc;

  &:hover {
    box-shadow: 0 5px 10px #999;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}