.main-header {
  padding: 22px 0 12px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 8px #ddd;
  
  &__return {
    &--hidden {
      display: none;
    }
  }
  
  img {
    height: 25px;
    width: auto;
  }
}