.main-header {
  position: relative;
  padding: 22px 20px 12px 20px;
  box-shadow: 0 5px 8px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__return {
    font-size: 1.2em;
    
    &--hidden {
      display: none;
    }
  }
  
  img {
    height: 25px;
    width: auto;
    margin: auto;
  }
}