.main-header {
  position: relative;
  padding: 15px 20px 5px 20px;
  box-shadow: 0 5px 8px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__return {
    font-size: 1.2em;
    
    &--hidden {
      display: none;
    }
  }

  h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 2em;
    margin: auto;
    font-weight: 500;
  }
}