@keyframes menu__check-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0%, 85% {
    opacity: 1;
  }
  0%, 100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes balls {
  0% {
    transform: scale(0);
  }
  0%, 20% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}