.loading-spinner {
  @include layout-all-center;
  z-index: 10;
  height: 0;
  width: 0;
  position: fixed;
  background-color: $primary-color;
  opacity: 0;
  animation: loading-spinner 3s;

  &__ball {
    z-index: 11;
    background: $section-background-color;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    transform: scale(0);
    animation: balls 1.2s 2;

    @for $i from 1 through $num-balls {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}