.main-menu-page {
  width: 100%;
  height: 100%;
  background-color: $section-background-color;
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.menu {
  padding: 220px 0 0 0;

  &__header {
    background: $section-background-color;
    border-radius: 40px 40px 0 0;
    padding: 30px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      font-size: 1.6em;
      margin: 0 18px 0 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__header-line {
    width: 40px;
    height: 3px;
    background: $tertiary-color;
    margin: 6px 0 15px 0;
  }

  h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
  }

  &__item {
    background: $section-background-color;
    padding: 0 10px 30px 10px;
  }

  &__entry {
    border: none;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin: 0 0 13px 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:hover {
      cursor: pointer;
    }
  }

  &__infos {
    padding: 16px 10px 13px 10px;
    text-align: left;

    h4 {
      font-size: 1.4em;
      margin: 0 0 3px 0;
    }

    span {
      font-size: 1.15em;
    }
  }

  &__price {
    padding: 13px 20px;
    font-weight: 600;
    font-size: 1.2em;
  }
}