.restaurants {
  background: $section-background-color;
  padding: 60px 10px;

  h2 {
    margin: 0 0 25px 20px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1460px;
    margin: auto;
  }

  &__card {
    background: #fff;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 10px #ccc;
    margin: 0 10px 20px 10px;
    transition: box-shadow 0.2s;

    &--new {
      background: $tertiary-color;
      color: #008766;
      padding: 10px 15px;
      position: absolute;
      top: 13px;
      right: 10px;
      font-size: 1.1em;
      font-weight: 600;
      border-radius: 3px;
      box-shadow: 0 2px 5px #666;
    }

    &--hidden {
      display: none;
    }

    &:hover {
      box-shadow: 0 5px 10px #999;
    }
  }

  img {
    width: 100%;
    max-width: 335px;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 15px 15px 20px 15px;

    h3 {
      margin: 0 0 5px 0;
    }

    button {
      box-shadow: none;
      background: none;
      margin: 5px 0 0 0;
    }

    i {
      font-size: 1.8em;
      margin: 0 10px;
      color: #fff;
      height: auto;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      transition: color 0.4s, -webkit-text-stroke-color 0.4s;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
        -webkit-text-stroke-color: $secondary-color;
      }
    }
  }
}