/* -------------------------
TABLE OF CONTENTS
------------------------- */

/* VARIABLES */
/* ------------------------- */
@import './variables';

/* GENERAL */
/* ------------------------- */
@import './general';

/* MAIN HEADER */
/* ------------------------- */
@import './header';

/* BANNER */
/* ------------------------- */
@import './banner';

/* FUNCTIONING */
/* ------------------------- */
@import './functioning';

/* RESTAURANTS */
/* ------------------------- */
@import './restaurants';

/* MENU */
/* ------------------------- */
@import './menu';

/* MAIN FOOTER */
/* ------------------------- */
@import './footer';

/* BUTTONS */
/* ------------------------- */
@import './buttons';

